.home-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 80px;
}
.home-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 0px;
}

.home-block:nth-child(even) {
  flex-direction: row-reverse;
}

.home-block img {
  width: 32%;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-block .text {
  width: 50%;
}

.home-block h3 {
  font-size: 20px;
  color: #e91e63;
  margin-bottom: 20px;
}

.home-block p {
  font-size: 20px;
  line-height: 2.6;
}
