
/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8f5;
  color: #4a2323;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
}

/* Header */
header {
  background-color: #e91e63;
  color: white;
  padding: 20px 20px;
  text-align: left;
}

#mainheading {
margin-bottom: 0px;
  font-size: 48px;
  letter-spacing: 2px;
}
.logo{
   height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(8px);
  border:2px solid white;
}

header p {
  font-size: 18px;
  font-style: italic;
  margin-top: 0px;
}
.tophead{
  border-bottom: 2px solid #ffffff40;
}

/* Navigation bar */
.navbar {
  top: 10;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; 
  width: auto;
}
 
nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #c2185b;
  padding: 10px 16px;
  margin: 0 5px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

nav a:hover {
  background-color: #8f0f46;
}

/* Sections */
section {
  padding: 40px 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

section h2 {
  color: #c2185b;
  font-size: 32px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #f8bbd0;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #444;
}
